<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
    
    <display-name>Test Detail</display-name>
	<servlet>
		<servlet-name>testcontroller</servlet-name>
		<servlet-class>com.mssvv.onlinetest.controller.TestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testcontroller</servlet-name>
		<url-pattern>/testcontroller.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>smscontroller</servlet-name>
		<servlet-class>com.mssvv.onlinetest.controller.SMSController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>smscontroller</servlet-name>
		<url-pattern>/sendsms.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>homecontroller</servlet-name>
		<servlet-class>com.mssvv.onlinetest.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>homecontroller</servlet-name>
		<url-pattern>/home.html</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
   </web-app>
